:root {
    --bgr: 22;
    --bgg: 25;
    --bgb: 37;
    --bg-color: rgba(var(--bgr), var(--bgg), var(--bgb));
    --fg-color: rgba(calc(255 - var(--bgr)), calc(255 - var(--bgg)), calc(255 - var(--bgb)));
}

html {
    background-color: var(--bg-color);
}

.c {
    color: var(--fg-color);
}

input {
    color: var(--fg-color) !important;
    background-color: transparent !important;
    border: none;
}

input:focus {
    outline: none;
    text-decoration: underline
}